<div>
<h2 class="name" *ngIf="contentItem && contentItem.name;">{{contentItem.name}}</h2>
  <img *ngIf="contentItem" [src]="contentItem.imageLink" (click)="click ()"><br>
  <div class="position" *ngIf="contentItem && contentItem.position;">Position: {{contentItem?.position}}</div><br>
  <div class="age" *ngIf="contentItem && contentItem.age;" >Age: {{contentItem.age}}</div><br>
  <div class="nationality" *ngIf="contentItem && contentItem.nationality;">Nationality: {{contentItem.nationality}}</div><br>
  <div class="hashtags" *ngIf="contentItem && contentItem.hashtags;">Hashtags: {{contentItem?.hashtags}}</div><br>
</div>