<h1>My Favourite Players</h1>

<div>
  Id : <strong>{{ cr7.id }}</strong><br>
  Full Name : <strong>{{ cr7.title }}</strong><br>
  Description : <strong>{{ cr7.body }}</strong><br>
  Name : <strong>{{ cr7.author }}</strong><br>
  Nick Name<strong>{{ cr7.type }}</strong><br>
</div>

<div>
  Id : <strong>{{ kb9.id }}</strong><br>
  Full Name : <strong>{{ kb9.title }}</strong><br>
  Description : <strong>{{ kb9.body }}</strong><br>
  Name : <strong>{{ kb9.author }}</strong><br>
  Nick Name<strong>{{ kb9.type }}</strong><br>
</div>

<div>
  Id : <strong>{{ km7.id }}</strong><br>
  Full Name : <strong>{{ km7.title }}</strong><br>
  Name : <strong>{{ km7.author }}</strong><br>
  Nick Name<strong>{{ km7.type }}</strong><br>
</div>

<div>
  Id : <strong>{{ r9.id }}</strong><br>
  Full Name : <strong>{{ r9.title }}</strong><br>
  Name : <strong>{{ r9.author }}</strong><br>
  Nick Name<strong>{{ r9.type }}</strong><br>
</div>